
@font-face{
    font-family:Roboto;
    src: url(RobotoSlab-VariableFont_wght.ttf);
}
.red{
    color: #aa1423;
}
.borda{
    border-radius: 2px;
    background-color:#eee ;
    width: 975px;
    height: 300px;
}
#borda{
    border-radius: 2px;
    background-color:rgb(255, 255, 255) ;
    width: 150px;
    height: 40px;
}
.cinza{
    color: #777;
}
.container{
    text-align: center;
    position: relative;
}
.center{
    top: 50%;
    text-align: center;
}
.image {
    position:relative;

  }
  
.text {
    position:absolute;
    text-align:center;
    top: 60px;
    width: 100%;
    color: white;
  }
.links{
    top: 20px;
    
}
.orange{
    background-color: orange;
    color: white;
}